/* Section 1: About us */
.about-us {
	padding-bottom: 32px;
}

.intro {
	margin: 20px 0 30px 0;
	color: var(--text-color-dark-gray);
}

.features {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* 3 columns */
	grid-template-rows: repeat(3, 126px); /* 3 rows */
	column-gap: 20px;
	row-gap: 20px;
}

.feature {
	display: grid;
	/* icon takes 2 grids(1 column and 2 rows), title and content each takes 1 grid */
	grid-template-areas:
		"icon title"
		"icon content";
	grid-template-columns: 60px 1fr; /* 2 columns */
	grid-template-rows: 1fr 2fr; /* 2 rows */
}

.feature i.fas {
	grid-area: icon;
	/* justify-self: center; */
	font-size: 30px;
	color: var(--primary-color);
}

.feature-title {
	grid-area: title;
	/* align-self: center; */
	font-size: 18px;
	color: var(--text-color-darker);
}

.feature-conetent {
	grid-area: content;
	color: var(--text-color-gray);
	margin-top: 8px;
}

@media (max-width: 768px) {
	.features {
		grid-template-columns: repeat(2, 1fr); /* 2 columns */
		grid-template-rows: repeat(4, 126px); /* 4 rows */
		row-gap: 5px;
	}
}

@media (max-width: 600px) {
	.features {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(8, 80px); /* 4 rows */
		row-gap: 5px;
	}
}

@media (max-width: 480px) {
	.features {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(8, 100px); /* 4 rows */
		row-gap: 5px;
	}

	.feature {
		grid-template-columns: 40px 1fr; /* 2 columns */
		grid-template-rows: 1fr 2fr; /* 2 rows */
	}

	.feature i.fas {
		font-size: 24px;
	}

	.feature-title {
		font-size: 16px;
	}

	.feature-conetent {
		grid-area: content;
		color: var(--text-color-gray);
		margin-top: 8px;
	}
}
