/* Home page: use glide library */
.glide {
	position: relative;
	top: -80px;
}

.glide__slide img,
.glide__slide video {
	position: absolute;
	z-index: 50;

	width: 100vw;
	height: 100vh;
	object-fit: cover;
}

.glide__slide {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.backdrop {
	position: absolute;
	z-index: 60;

	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: var(--backdrop-color);
	opacity: 0.5;
}

/* z-index layers level from top to bottom: header(200) > caption(70) > backdrop(60) > image/video(50) */
.slide-caption {
	position: aboslute;
	z-index: 70;

	color: var(--text-color-lightest);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 70vw;
	height: 100vh; /* needed to be the same high with backdrop, image and video */
}

.slide-caption h1 {
	font-size: 2.5rem;
	font-weight: 600;
}

.slide-caption h3 {
	font-size: 1.5rem;
	margin: 3rem 0;
}

.slide-caption.left {
	max-width: 80vw;
	align-items: flex-end;
}

.slide-caption > * {
	opacity: 0; /* animation initial status */
}

.explore-btn {
	padding: 1rem 2.3rem;
	background-color: var(--primary-color);
	border: 0;
	border-radius: 4px;
	font-size: 1.2rem;
	color: var(--text-color-lightest);
	cursor: pointer;
	outline: none;
}

@media (max-width: 768px) {
	.slide-caption h1 {
		font-size: 2.2rem;
	}

	.slide-caption h3 {
		font-size: 1.3rem;
	}

	.slide-caption > * {
		opacity: 0; /* animation initial status */
	}

	.explore-btn {
		padding: 1rem 1.8rem;
		font-size: 1rem;
	}
}

@media (max-width: 600px) {
	.slide-caption h1 {
		font-size: 2rem;
	}

	.slide-caption h3 {
		font-size: 1.1rem;
	}

	.slide-caption > * {
		opacity: 0; /* animation initial status */
	}

	.explore-btn {
		padding: 0.8rem 1.5rem;
		font-size: 1rem;
	}

	.glide__arrow {
		padding: 6px 9px;
	}
}

@media (max-width: 480) {
	.slide-caption h1 {
		font-size: 1.5rem;
	}

	.slide-caption h3 {
		font-size: 1rem;
	}

	.slide-caption > * {
		opacity: 0; /* animation initial status */
	}

	.explore-btn {
		padding: 0.6rem 1.3rem;
		font-size: 1rem;
	}

	.glide__arrow {
		padding: 4px 6px;
	}
}
