/* Products Section */
.showcases {
	max-width: unset;
	padding: 0;
	/* padding-top: 72px; */
}

.filter-btns {
	margin-top: 1.3rem;
	margin-bottom: 2rem;
}

.filter-btn {
	margin: 0 0.5rem;
	background-color: var(--secondary-color);
	border: 0;
	color: var(--text-color-dark-gray);
	padding: 0.5rem 1.2rem;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.4s;
}

.filter-btn:focus,
.filter-btn:active {
	outline: none;
}

.filter-btn.active,
.filter-btn:hover {
	background-color: var(--primary-color);
	color: white;
}

.showcases .cases {
	width: 100vw;
}

.showcases .case-item {
	width: 24.5vw;
	height: 20vw;
	overflow: hidden;
}

/* full fit div space */
.case-item img {
	height: 100%;
	margin: 2px;
	object-fit: cover;
}

@media (max-width: 768px) {
	.showcases .case-item {
		width: 49vw;
		height: 40vw;
	}
}
