/* Global Styles */

* {
	margin: 0;
	padding: 0;
	font-size: 14px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif, "PingFang SC", "Microsoft Yahei";
}

img {
	width: 100%;
}

:root {
	--primary-color: #ff434f;
	--secondary-color: #e3e3e3;
	--text-color-lightest: #e7e9ec;
	--text-color-darker: #2e2e2e;
	--text-color-dark: #494949;
	--text-color-gray: #8b8b8b;
	--text-color-dark-gray: #727272;
	--text-color-light-gray: #c6c6c6;
	--backdrop-color: rgba(42, 42, 42, 0.69);
}

/* Header and Navigation */
header {
	width: 100vw;
	height: 60px;
	padding: 0 40px;

	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	position: relative;
	z-index: 200; /* on top most */
}

header div.logo {
	max-width: 250px;
	font-weight: 600;
	justify-self: start;
	color: var(--text-color-lightest);
	display: flex;
	justify-content: center;
}

header div.logo > img {
	width: 26px;
	height: 26px;
	border-radius: 50%;
}

header div.logo > p {
	margin: 0;
	padding: 0 10px;
	font-size: 24px;
}

header nav {
	justify-self: end;
	display: flex;
}

header nav i {
	color: var(--text-color-lightest);
	margin: 0 12px;
}

header nav a {
	font-weight: 600;
	color: var(--text-color-lightest);
	text-decoration: none;
	margin: 0 12px;
}

/* Make a mobile menu by a single div box, 15px height in total  */
header .burger-button {
	display: none; /* hide burger by default */
	z-index: 50;

	width: 23px;
	height: 21px;
	border-top: 3px solid var(--text-color-lightest);
	padding: 6px 0; /* blank: 4.5px*2 = 9px */
	/* content height is 3px: 19px - (border-top + border-bottom) - (padding-top + padding-bottom) */
	border-bottom: 3px solid var(--text-color-lightest);
	background-color: var(--text-color-lightest);
	background-clip: content-box;
}

header.sticky {
	position: fixed;
	background-color: white;
	/* opacity: 0.9; */
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2);

	animation: dropdown 1s ease-in-out forwards;
	-webkit-animation: dropdown 1s ease-in-out forwards;
}

header.sticky .logo,
header.sticky nav a,
header.sticky nav i {
	color: var(--text-color-darker);
}

header.sticky .burger-button {
	border-top: 3px solid var(--text-color-darker);
	border-bottom: 3px solid var(--text-color-darker);
	background-color: var(--text-color-darker);
}

header.sticky .burger-close {
	background-color: var(--text-color-darker);
}

/* The animation doesn't work right now */
@keyframes dropown {
	from {
		transform: translateY(-100);
	}
	to {
		transform: translateY(0);
	}
}

@-webkit-keyframes dropdown {
	from {
		transform: translateY(-100);
	}
	to {
		transform: translateY(0);
	}
}

/* Glide for homepage */

/* Other Contents: several sections inside */
.section-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Each part of section */
section {
	display: grid;
	justify-items: center;
	max-width: 1180px;
	padding: 0 80px;
}

.section-title {
	font-size: 34px;
	color: var(--text-color-darker);
}

/* Section title: Underscore of content-title */
.section-title::after {
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	background-color: var(--primary-color);
	margin-top: 10px;
	/* transform: translateX(5%); */
}

.section-bg {
	position: relative;
	margin-bottom: 60px;
}

.section-bg::before {
	display: block;
	position: absolute;
	z-index: -1;

	content: "";
	background-color: #f6fafa;
	width: 100vw;
	height: 100%;
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* break points for different devices */
@media (max-width: 768px) {
	header nav {
		display: none;
	}

	.section-title {
		font-size: 28px;
	}

	header .burger-button {
		display: block;
		justify-self: end;
		cursor: pointer;
	}

	header .burger-close {
		display: block;
		justify-self: end;
		z-index: 50;
		height: 12px;
		width: 12px;
		cursor: pointer;

		background: linear-gradient(
				to top right,
				rgba(255, 255, 255, 0) 0%,
				rgba(255, 255, 255, 0) calc(50% - 1.5px),
				rgba(255, 255, 255, 1) 50%,
				rgba(255, 255, 255, 0) calc(50% + 1.5px),
				rgba(255, 255, 255, 0) 100%
			),
			linear-gradient(
				to bottom right,
				rgba(255, 255, 255, 0) 0%,
				rgba(255, 255, 255, 0) calc(50% - 1.5px),
				rgba(255, 255, 255, 1) 50%,
				rgba(255, 255, 255, 0) calc(50% + 1.5px),
				rgba(255, 255, 255, 0) 100%
			);
	}

	header.open-menu nav {
		position: absolute;
		right: 5px;
		top: 0;

		display: grid;
		padding: 22px 50px 20px 10px;
		row-gap: 10px;
		grid-auto-rows: max-content;
		cursor: pointer;

		/* opacity: 0.5; This impacts the nav contents and background */
		/* use rgba with opacity only impacts background color */
		background-color: rgba(66, 66, 66, 0.2);
	}

	section {
		padding: 0 60px;
	}
}

@media (max-width: 600px) {
	header {
		padding: 0 10px;
		grid-template-columns: 2fr 1fr;
	}

	section {
		padding: 0 40px;
	}

	.section-title {
		font-size: 24px;
	}
}

@media (max-width: 480px) {
	header div.logo > p {
		font-size: 18px;
	}

	header div.logo > img {
		width: 18px;
		height: 18px;
	}

	section {
		padding: 0 20px;
	}

	.section-title {
		font-size: 24px;
	}
}
